.hvigor/
build/
entry/build/
oh_modules/
local.properties
.idea/
.appanalyzer/
.test/
.mcp.json
.codex/
.cursor/
.trae/
*.hap
*.har
*.app
*.hsp
*.p12
*.pfx
*.jks
*.keystore
*.key
*.pem
*.cer
*.csr
*.p7b
